{
  "env": { "node": true, "es6": true, "jest": true, "browser": true },
  // airbnb-base 实际已经包含 eslint-plugin-import
  "extends": ["airbnb-base", "prettier"],
  "root": true,
  "rules": {
    "camelcase": 0,
    "semi": 0,
    "quotes": 0,
    "comma-dangle": 0,
    "no-shadow": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "no-unused-vars": [
      "warn",
      { "varsIgnorePattern": "[iI]gnored", "argsIgnorePattern": "^_" }
    ],
    "no-param-reassign": 0,
    "consistent-return": 0,
    "no-debugger": 1,
    "no-restricted-exports": 0,
    "no-use-before-define": 0,
    "no-return-assign": 0,
    "import/extensions": 0,
    "import/no-cycle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "no-underscore-dangle": 0,
    "no-continue": 0,
    "no-console": 0,
    "no-restricted-syntax": 0,
    "no-multi-assign": 0,
    "no-constant-condition": 0,
    "no-prototype-builtins": 0,
    "guard-for-in": 0,
    "no-labels": 0,
    "no-unused-expressions": 0
  },
  "overrides": [
    {
      "extends": [
        "plugin:import/typescript",
        "plugin:@typescript-eslint/recommended"
      ],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint", "import"],
      "settings": {
        "import/parsers": {
          "@typescript-eslint/parser": [".ts"]
        },
        "import/resolver": {
          "typescript": true
        }
      },
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": true
      },
      "files": ["**/*.ts", "**/*.tsx"],
      "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-unused-vars": [
          "warn",
          { "varsIgnorePattern": "[iI]gnored", "argsIgnorePattern": "^_" }
        ],
        "@typescript-eslint/no-unused-expressions": 2,
        "@typescript-eslint/consistent-type-imports": 2,
        "@typescript-eslint/no-empty-function": 1,
        "@typescript-eslint/ban-ts-comment": 0,
        "@typescript-eslint/ban-types": 0
      }
    },
    {
      "files": ["**/__tests__/**/*.test.js"],
      "settings": {
        "import/parsers": [".ts, .js"]
      },
      "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "script",
        "ecmaFeatures": {
          "jsx": true
        }
      },
      "rules": {
        "global-require": 0
      }
    }
  ]
}
